@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@200;300;400;500;800&display=swap');

*{
    font-family: 'Prompt', sans-serif;
    font-weight: 400;
    display: flexbox;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5{
    font-weight: 800;
}
a{
    color: rgb(43, 129, 199);
}
p, ul, li{
    font-size: 14px;
}
p.pmajor{
    font-size: 16px;
}
ul{
    list-style-type: square;
}
strong{
    font-weight: 500;
    color: rgb(105, 54, 54);
}
small{
    color: crimson;
}
small.tips{
    color: rgb(13, 150, 115);
}
body{
    padding: 5px;
}
